<section class="joinnow">
    <br>
    <h1 class="text-center  ">Join  Now</h1>
    <br>
    <div class="login col-lg-4 m-auto container mt-2 shadow p-3 mb-5 bg-body rounded">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <br>
            <div class="d-grid grid-2">
                <button type="submit" class="btn btn-primary">Submit</button>

            </div>
            <br>
            <br>
          </form>
    </div>
    <br>

</section>
